<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115678383346-gpsa47jraif39dqf0h5o5d8hm8jvl5df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115678383346-gpsa47jraif39dqf0h5o5d8hm8jvl5df</string>
	<key>API_KEY</key>
	<string>AIzaSyCQX_RiZRPB-bWaFJgaXLQX3PYNbl_QJJs</string>
	<key>GCM_SENDER_ID</key>
	<string>115678383346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softwarehut.flutter.boring-counter.dev</string>
	<key>PROJECT_ID</key>
	<string>boring-counter</string>
	<key>STORAGE_BUCKET</key>
	<string>boring-counter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115678383346:ios:2e53c1c4513db9d0b6946b</string>
</dict>
</plist>